#pomo-header {
  height: 48px;
  background-color: $siteGreen;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > div {
    font-size: 20px;
  }
  #pomo-title {
    color: #FFF;
    font-weight: 700;
  }
}