#pomo-timer-template {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 96px;
  bottom: 0px;
}
#pomo-timer {
  circle {
    stroke-linecap: round; 
    transition: stroke-dashoffset 0.1s linear;
  }
}
#prompt-container {
  width: 225px;
  height: 225px;
  background-color: $primary;
  border-radius: 100%;
}